@page
@model CreateModel
@{
}
<h1>Add A Student</h1>
<br />
<form method="post" class="form-group">
    <div class="form-group">
        <label asp-for="Student.FirstName"></label>
        <input asp-for="Student.FirstName" />
        <span asp-validation-for="Student.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Student.LastName"></label>
        <input asp-for="Student.LastName" />
        <span asp-validation-for="Student.LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Student.Course"></label>
        <input asp-for="Student.Course" />
        <span asp-validation-for="Student.Course"></span>
    </div>
    <div class="checkbox">
        <label asp-for="Student.Veteran"></label>
        <input type="checkbox" asp-for="Student.Veteran" />
        <span asp-validation-for="Student.Veteran"></span>
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-page="Index" class="btn btn-danger">Cancel</a>
</form>