@page
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Student Management System 2.0</h1>
<br />
<p>Welcome to the new Student Management System. It is pretty much the same but without the use of bootstrap!!! You still add and delete Students and Courses.</p>
<br />
